/**
 Override bootstrap
*/

.btn-sharypic, .btn-sharypic:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-sharypic:hover,
.btn-sharypic.disabled,
.btn-sharypic[disabled] {
  background-color: #4d3066;
  *background-color: #4d3066;
  background-image: -ms-linear-gradient(top, #694b83, #4d3066);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#694b83), to(#4d3066));
  background-image: -webkit-linear-gradient(top, #694b83, #4d3066);
  background-image: -o-linear-gradient(top, #694b83, #4d3066);
  background-image: -moz-linear-gradient(top, #694b83, #4d3066);
  background-image: linear-gradient(top, #694b83, #4d3066);
}

.btn-sharypic, .btn-sharypic:active {
  background-color: #694b83;
  *background-color: #694b83;
  background-image: -ms-linear-gradient(top, #6B4195, #694b83);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6B4195), to(#694b83));
  background-image: -webkit-linear-gradient(top, #6B4195, #694b83);
  background-image: -o-linear-gradient(top, #6B4195, #694b83);
  background-image: -moz-linear-gradient(top, #6B4195, #694b83);
  background-image: linear-gradient(top, #6B4195, #694b83);
  background-repeat: repeat-x;
  border-color: #694b83 #694b83 #694b83;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#6B4195', endColorstr='#694b83', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

/*
  LAYOUT
*/

body {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAHElEQVQIW2P8+/3DfwYcgBEkycwpwIhNftBJAgBVPRvrSTJcKgAAAABJRU5ErkJggg==);
  font-family: 'Helvetica Neue', Arial, Helvetica;
}

.navbar .brand {
  background: transparent url(/img/sharypic.png) 0 3px no-repeat;
  background-size: 96px 40px;
  margin-top: -4px;

  color: transparent;
}

.site-name {
  color: #d8d8d8;
  float: left;
  font-family: 'StRydeRegular';
  font-size: 19px;
  margin-top: 11px;
  margin-left: -5px;
}

.nav-collapse {
  float: right;
}

body > .container {
  margin-top: 50px;
}

h1 {
  margin: 20px 0 40px;
  color: #4D4540;
  font-weight: normal;
  font-size: 50px;
  font-family: 'MarkerfieldRegular';
}

/*
  SERVICE SUMMARY
*/

.services-summary {
  background: white;
  font-family: 'Helvetica Neue', Arial, Helvetica;
  margin-bottom: 40px;
}

.services-summary .path {
  font-family: 'Monaco', Arial, Helvetica;
  width: 250px;
}

.services-summary .verb {
  font-size: 12px;
  width: 45px;
  font-weight: bold;
  text-align: center;
}


/*
  SERVICE
*/

.service {
  font-family: 'Helvetica Neue', Arial, Helvetica;
  margin-bottom: 20px;
}

.service .header {
  font-size: 16px;

  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);

  border-radius: 5px 5px 0 0;
  background-color: #4D4540;
  background-image: url(http://noisepng.com/100-90-5.png);
}

.service .header .verb {
  font-weight: bold;

  display: inline-block;
  margin: 0 auto;
  padding: 10px 10px 12px 20px;
  border-radius: 5px 0 0 0;
  width: 45px;
  background-color: #2C2C2C;
}

.service .header .path {
  font-family: 'Monaco', Arial, Helvetica;
  display: inline-block;
  padding-left: 5px;
}

.service .sample-url {
  font-family: 'Monaco', Arial, Helvetica;
  background: white;
  font-size: 12px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.service .sample-url .see-response {
  font-family: 'Helvetica Neue', Arial, Helvetica;
  float: right;
  margin-top: -5px;
  cursor:;
}

.service .sample-response pre {
  font-family: 'Monaco', Arial, Helvetica;
  border-radius: 0;
  margin: 0;
  border-top: none;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.service .description {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: none;
  background: #FCFCFC;
  padding: 15px;
}

/**
Fonts
**/

@font-face {
  font-family: 'MarkerfieldRegular';
  src: url('/fonts/markerfield-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StRydeRegular';
  src: url('/fonts/stryde-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
